.row
    .col-md-12
        .jumbotron
            if (!user.confirmed)
                h1.display-4 Hello #{user.fname}! Action is required below!
            else
                h1.display-4 Thanks #{user.fname}! Your yearbook entry is confirmed!
            hr.my-4
            if (!user.confirmed)
                p Please ensure that your yearbook entry is accurate. You can make changes by clicking the "Edit" button, or use the "Confirm" button to confirm the information
            else
                p You have already confirmed the information below. You can make changes until the deadline.
            br
            form
                .form-group.row
                    label.col-sm-2.col-form-label(for='fname') First Name
                    .col-sm-10
                        input.form-control#fname.form-control-plaintext(name='fname' readonly value=`${user.fname}`)
                .form-group.row
                    label.col-sm-2.col-form-label(for='lname') Last Name
                    .col-sm-10
                        input.form-control#lname.form-control-plaintext(name='lname' readonly value=`${user.lname}`)
                .form-group.row
                    label.col-sm-2.col-form-label(for='nameAsAppears') Name To Appear in the Yearbook
                    .col-sm-10
                        input.form-control#nameAsAppears.long-press.form-control-plaintext(name='nameAsAppears' readonly value=`${user.nameAsAppears}`)
                .form-group.row
                    label.col-sm-2.col-form-label(for='major') Major
                    .col-sm-10
                        input.form-control#major.form-control-plaintext(name='major' readonly value=`${user.major}`)
                .form-group.row
                    label.col-sm-2.col-form-label(for='major2') Second Major (for double majors)
                    .col-sm-10
                        input.form-control#major2.form-control-plaintext(name='major2' readonly value=`${user.major2}`)
                .form-group.row
                    label.col-sm-2.col-form-label(for='minor') Minor
                    .col-sm-10
                        input.form-control#minor.form-control-plaintext(name='minor' readonly value=`${user.minor}`)
                .form-group.row
                    label.col-sm-2.col-form-label(for='quote') Quote
                    .col-sm-10
                        textarea.form-control#quote.form-control-plaintext(name='quote' readonly maxlength='130') #{user.quote}
            form(action="/edit" method="get")
                button.btn.btn-secondary(type="submit") Edit
            if (!user.confirmed)
                form(action="/confirm" method="post")
                    .form-group
                    button.btn.btn-primary(type="submit") Confirm